{% extends "base.html" %}


{% block content %}
  <h1>Your rosters:</h1>

  <table>
    {% for roster in rosters %}
    <tr>
      <td>
        <a href="{{ url_for('roster', user_id=roster.author.user_telegram_id, roster_id=roster.id) }}">
          {{ roster.title }}
        </a>
      </td>
      <td>{{ roster.create_time.strftime("%m/%d/%Y") }}</td>
      <td>
        <a href="{{ url_for('delete_roster', user_id=roster.author.user_telegram_id, roster_id=roster.id )}}">
          DELETE
        </a>
      </td>
      {% endfor %}
    </tr>
  </table>
{% endblock %}
